<div>
    <h2 id="page-heading">
        <span>Contractual Lease Rentals</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contractual-lease-rental" [routerLink]="['/contractual-lease-rental/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down">
            Create a new Contractual Lease Rental
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="contractualLeaseRentals?.length === 0">
        <span>No contractualLeaseRentals found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="contractualLeaseRentals && contractualLeaseRentals.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="leaseContractNumber"><span>Lease Contract Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="rentalSequenceNumber"><span>Rental Sequence Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="leaseRentalDate"><span>Lease Rental Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="leaseRentalAmount"><span>Lease Rental Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contractualLeaseRental of contractualLeaseRentals ;trackBy: trackId">
                    <td><a [routerLink]="['/contractual-lease-rental', contractualLeaseRental.id, 'view']">{{ contractualLeaseRental.id }}</a></td>
                    <td>{{ contractualLeaseRental.leaseContractNumber }}</td>
                    <td>{{ contractualLeaseRental.rentalSequenceNumber }}</td>
                    <td>{{ contractualLeaseRental.leaseRentalDate | date:'mediumDate' }}</td>
                    <td>{{ contractualLeaseRental.leaseRentalAmount }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/contractual-lease-rental', contractualLeaseRental.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/contractual-lease-rental', contractualLeaseRental.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(contractualLeaseRental)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="contractualLeaseRentals && contractualLeaseRentals.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
